pandas
numpy
matplotlib
seaborn
ipykernel
kaggle
python-dotenv
joblib
ensure
python-box
pyyaml
dill
pytest>=8.0.0
pytest-cov>=5.0.0   # optional but useful for coverage reports
scikit-learn
imblearn
catboost
xgboost


# code run in the last to update dependencies
# pip freeze > requirements.txt